<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>USER_OPTIONS</title>
</head>
<body>


    <h3>Welcome to UserPage</h3>

     {% if user.is_authenticated %}
     <!-- <h3>Hello{{ fname }} </h3> -->
     <h4>You're Successfully logged in.</h4>
     <button type="submit"> <a href="signout/"> Signout </a></button>
    {% else %}
    <button type="submit"> <a href="signup/"> Signup</a></button>
    <button type="submit"> <a href="signin/"> Signin</a></button>
    {% endif %}

</body>
</html>
